h1 {
    text-align: center;
    padding-top: 20%;
  }
  body {
    background: linear-gradient(to right, #0f2027, rgb(22, 181, 181), #2c5364);
    font-family: "Poppins", sans-serif;
  }
  button[type="register"] {
    margin-left: 400px;
    width: 120px;
    height: 50px;
    line-break: normal;
  }
  button[type="login"] {
    margin-left: 200px;
    width: 120px;
    height: 50px;
    line-break: normal;
  }
  a {
    color: black;
    text-decoration: none;
  }