h1 {
  text-align: center;
  padding-top: 20%;
}
body {
  background: linear-gradient(to right, #0f2027, rgb(41, 94, 94), #2c5364);
  font-family: "Poppins", sans-serif;
}
button[type="register"] {
  margin-left: 400px;
  width: 120px;
  height: 50px;
  line-break: normal;
}
button[type="login"] {
  margin-left: 200px;
  width: 120px;
  height: 50px;
  line-break: normal;
}
button:hover {
  background-color: #2c5364;
}
a {
  color: black;
  text-decoration: none;
}
#particles-js {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
}
