* {
  padding: 0;
  margin: 0;
}

body {
  /* background: url(bg_img.jpg) no-repeat; */
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: flex;
  background: linear-gradient(to right, #0f2027, rgb(41, 94, 94), #2c5364);
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  width: 450px;
  height: auto;
  background: whitesmoke;
  border-radius: 5px;
}

.label {
  padding: 20px 130px;
  font-size: 35px;
  font-weight: bold;
}

.login_form {
  padding: 20px 40px;
}

.login_form .font {
  font-size: 18px;
  margin: 5px 0;
}

.login_form input {
  height: 40px;
  width: 100%;
  padding: 0 5px;
  font-size: 18px;
  outline: none;
  border: 1px solid silver;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid #0f2027;
}

.login_form input:focus {
  border-left: 2px solid #0f2027;
}

.login_form .font2 {
  margin-top: 30px;
}

.login_form button {
  width: 100%;
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    #0f2027,
    rgb(41, 94, 94),
    #2c5364
  );
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login_form button:hover {
  background-image: linear-gradient(
    to right,
    #0f2027,
    rgb(22, 181, 181),
    #2c5364
  );
}

.login_form #email_error,
.login_form #pass_error {
  margin-top: 5px;
  width: 345px;
  font-size: 18px;
  color: #c62828;
  background: rgba(255, 0, 0, 0.1);
  text-align: center;
  padding: 5px 8px;
  border-radius: 3px;
  border: 1px solid #ef9a9a;
  display: none;
}

#particles-js {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
}
