body {
  background-image: linear-gradient(
    to right,
    #0f2027,
    rgb(41, 94, 94),
    #2c5364
  );
  font-family: "Poppins", sans-serif;
}

#registration-form {
  width: 35%;
  height: 100%;
  margin: 0 auto;
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 20px;
  margin-top: 100px;
  background-color: whitesmoke;
}

form {
  width: 50%;
  height: 50px;
  margin: 0 auto;
  text-align: left;
}

h1 {
  text-align: center;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid #0f2027;
}

.error {
  color: red;
}

button {
  width: 100%;
  background-image: linear-gradient(
    to right,
    #0f2027,
    rgb(41, 94, 94),
    #2c5364
  );
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-image: linear-gradient(
    to right,
    #0f2027,
    rgb(22, 181, 181),
    #2c5364
  );
}

#particles-js {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 140vh;
  width: 100%;
}
