.App {
  background-color: rgb(92, 92, 190);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  background-color: grey;
  width: 300px;
  height: 300px;
  box-shadow: 0 10px 10px black;
}
h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: black;
  text-align: center;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 18px;
}

.count-button,
.reset-button {
  width: 8rem;
  height: 4rem;
  border-radius: 5px;
  margin-right: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4caf50;
  color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.count-button:hover,
.reset-button:hover {
  background-color: #3e8e41;
  box-shadow: 0 5px 10px grey;
}

.reset-button {
  background-color: #f44336;
}

.reset-button:hover {
  background-color: #c62828;
}

p {
  margin: 0;
}
