table {
  background-color: black;
  width: 500px;
  height: 300px;
  border: 1px solid black;
  border-style: dashed;
  font-size: 20px;
}
tr {
  background-color: aquamarine;
  font-style: italic;
  text-align: center;
}
td {
  background-color: yellow;
  color: black;
}
