#login-form {
  width: 35%;
  margin: 0 auto;
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 20px;
  margin-top: 100px;
  background-color: whitesmoke;
}
h1 {
  text-align: center;
}
#login-form label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

#login-form input[type="text"],
#login-form input[type="password"] {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 8px;
  box-sizing: border-box;
}

#login-form input[type="submit"] {
  width: 100%;
  background-image: linear-gradient(
    to right,
    #0f2027,
    rgb(22, 181, 181),
    #2c5364
  );
  color: white;
  border: none;
  border-radius: 3px;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
}
body {
  background: linear-gradient(to right, #0f2027, rgb(22, 181, 181), #2c5364);
  font-family: "Poppins", sans-serif;
}
.error {
  color: red;
}

#login-form {
  width: 35%;
  margin: 0 auto;
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 20px;
  margin-top: 100px;
  background-color: whitesmoke;
}
h1 {
  text-align: center;
}
#login-form label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

#login-form input[type="text"],
#login-form input[type="password"] {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 8px;
  box-sizing: border-box;
}

#login-form input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
}

#login-form input[type="submit"]:hover {
  background-color: #45a049;
}
body {
  background: linear-gradient(to right, #0f2027, rgb(22, 181, 181), #2c5364);
  font-family: "Poppins", sans-serif;
}
