form {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  text-align: left;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  background-image: linear-gradient(
    to right,
    #0f2027,
    rgb(22, 181, 181),
    #2c5364
  );
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.error {
  color: red;
}
body {
  background: linear-gradient(to right, #0f2027, rgb(22, 181, 181), #2c5364);
  font-family: "Poppins", sans-serif;
}
#registration-form {
  width: 35%;
  margin: 0 auto;
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 20px;
  margin-top: 100px;
  background-color: whitesmoke;
}
h1 {
  text-align: center;
}
