body {
  background-color: #ff11;
}

h1 {
  padding-top: 70px;
  font-style: oblique;
  font-family: arial;
  font-size: 50px;
}

h2 {
  padding: 5px;
  margin: 10px;
  font-family: helvetica;
  font-size: 30px;
}
