* {
  margin: 0;
}
.navbar {
  display: flex;
  margin-left: 80%;
}
img {
  margin-top: 15px;
  margin-right: 20px;
  width: 60px;
}
a {
  text-decoration: none;
  color: blue;
}
.button {
  margin-top: 15px;
  margin-right: 20px;
}
.div1 {
  margin-right: 20px;
  margin-top: 20px;
}
.div2 {
  margin-top: 20px;
  margin-right: 20px;
}
.logo {
  width: 250px;
  height: 70px;
  padding-top: 150px;
}
.search {
  width: 300px;
  height: 20px;
  border-radius: 15px;
}
section {
  display: flex;
  justify-content: space-around;
  margin-left: 40%;
  margin-right: 40%;
  padding-top: 20px;
}
.submit {
  background-color: rgb(184, 173, 173);
  width: 100px;
  border-radius: 10px;
}
p {
  padding-top: 30px;
  color: blue;
}
