/* Styling for the calendar container  */
.calendar {
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

/* Styling for the calendar header */
.calendar .haed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* Styling for the month navigation buttons */
.calendar .haed button {
  font-size: 1.5rem;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

/* Styling for the month name */
.calendar .haed h1#name {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

/* Styling for the table */
.calendar table {
  width: 100%;
  border-collapse: collapse;
}
