* {
  margin: 0;
  padding: 0;
}
body {
  background: #12181b;
}
.btn_open {
  width: 40px;
  height: 30px;
  margin-left: 95%;
  margin-top: 10px;
  cursor: pointer;
}
.left-sidebar {
  box-shadow: 10px 10xp 10px 10px black;
  width: 200px;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.775);
}
.close_btn {
  margin-left: 170px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
ul {
  list-style: none;
  margin-left: 20px;
  margin-top: 20px;
  padding-top: 20px;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 20px;
  padding-bottom: 40px;
}
.footer_icons {
  margin-top: 160%;
  margin-left: 5%;
  padding-bottom: 20%;
}
.icons {
  font-size: 33px;
}
